* {
  margin: 0;
  padding: 0;
}

#social-media img {
  display: flex;
  flex-direction: column;
  margin: 15px;
  width: 50px;
  border-radius: 50px;
  box-shadow: 0 0 8px rgba(128, 128, 128, 0.685);
}

#social-media {
  position: absolute;
  right: 10px;
}

#social-media img:hover {
  border: 3px solid rgba(255, 255, 255, 0.705);
  transform: translate(-2px, -2px);
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.685);
  transition: transform 0.3s ease, border 0.3s ease;
}
