* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/imagens/back-pc.jpg);
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
